@model OrderViewModel
@{
    this.ViewData["Title"] = "Потвърди Поръчката";
}

<div class="page-top-info">
    <div class="container">
        <h4>Потвърди Поръчката</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Потвърди Поръчката</a>
        </div>
    </div>
</div>

<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form class="checkout-form" name="orderForm" asp-controller="Order" asp-action="MakeOrder">
                    <div class="cf-title">*Адрес за доставка</div>
                    <div class="pl-3 pr-3 cf-radio-btns ml-4 shipping-btns">
                        <div class="cfr-item">
                            <input type="radio" checked="checked" name="ShipToOffice" id="regularTrue" value="true">
                            <label for="regularTrue">До офис на Еконт</label>
                        </div>
                        <div class="cfr-item">
                            <input type="radio" name="ShipToOffice" id="regularFalse" value="false">
                            <label for="regularFalse">До адрес</label>
                        </div>
                    </div>
                    <div class="pl-3 pr-3 row input-fields shipping-info">
                        <div class="col-md-12">
                            <input type="text" required placeholder="Град..." name="Country">
                            <input type="text" required placeholder="Адрес..." name="Address">
                            <input type="text" placeholder="Допълнителен Адрес..." name="Address2">
                        </div>
                    </div>
                    <div class="pl-3 pr-3 row input-fields econt-info">
                        <div class="cfr-item ml-4">
                            <label for="citySelection">Избери град:</label>
                            <select required id="citySelection" class="econt-dropdown econt-city">
                                <option></option>
                                @foreach (var city in Model.Cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            </select>
                        </div>
                        <div class="cfr-item ml-4">
                            <label for="officeSelection">Избери офис:</label>
                            <select required name="OfficeIdSelected" id="officeSelection" class="econt-dropdown econt-office" disabled>
                                <option></option>
                                @foreach (var office in Model.Offices)
                                {
                                    <option value="@office.Id" data-cityId="@office.CityId">@office.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="cf-title">*Информация за доставка</div>
                    <div class="row user-info input-fields pl-3 pr-3">
                        <div class="col-md-6">
                            <input type="text" required placeholder="Име" name="FirstName">
                        </div>
                        <div class="col-md-6">
                            <input type="text" required placeholder="Фамилия" name="LastName">
                        </div>
                        <div class="col-md-6">
                            <input type="text" required placeholder="Телефон" name="Phone">
                        </div>
                    </div>
                    @for (int i = 0; i < Model.CartItems.Count; i++)
                    {
                        CartItem item = Model.CartItems[i];
                        <input type="hidden" name="CartItems[@i].ProductId" value="@item.Product.Id" />
                        <input type="hidden" name="CartItems[@i].Quantity" value="@item.Quantity" />
                        if (!string.IsNullOrWhiteSpace(item.Size))
                        {
                            <input type="hidden" name="CartItems[@i].Size" value="@item.Size" />
                        }
                        if (!string.IsNullOrWhiteSpace(item.Color?.Name))
                        {
                            <input type="hidden" name="CartItems[@i].Color.Name" value="@item.Color?.Name" />
                            <input type="hidden" name="CartItems[@i].Color.Value" value="@item.Color?.Value" />
                        }
                    }
                    @if (Model.AppliedPromoCode != null)
                    {
                        <input type="hidden" name="PromoCodeId" value="@Model.AppliedPromoCode.Id" />
                    }
                    <button type="submit" class="site-btn submit-order-btn">Направи Поръчката</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Твоята Количка</h3>
                    <ul class="product-list">
                        @foreach (var item in Model.CartItems)
                        {
                            <li>
                                <div class="pl-thumb">
                                    <img src="@item.Product.ImagesUrls.Split(';')[0]" alt="@item.Product.Name">
                                </div>
                                <h6>@item.Product.Name <p style="color: red">x @item.Quantity</p></h6>
                                <p>@item.Product.Price лв.</p>
                            </li>
                        }
                    </ul>
                    <ul class="price-list">
                        @if (Model.AppliedPromoCode != null)
                        {
                            <li>Приложен Промо Код: <strong>@Model.AppliedPromoCode.PercentageDiscount% Отстъпка</strong></li>
                        }
                        <li class="total">Общо <span>@Model.Total лв.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/order.js"></script>
    <partial name="_ValidationScriptsPartial" />
}