@model IEnumerable<OrderInfoViewModel>

@{
    this.ViewData["Title"] = "Моите Поръчки";
}

<div class="page-top-info">
    <div class="container">
        <h4>Моите Поръчки</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Моите Поръчки</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    @if (!Model.Any())
    {
        <h2>Нямате направени поръчки към момента.</h2>
    }
    else
    {
        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <th width="7%">Дата</th>
                    <th width="7%">ID на поръчката</th>
                    <th>Поръчани Продукти</th>
                    <th>Общо</th>
                    <th>Адрес</th>
                    <th width="7%">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td width="7%">@order.OrderDate.ToLocalTime()</td>
                        <td width="7%">#@order.OrderId</td>
                        <td>
                            <table class="table table-nostriped">
                                @foreach (var product in order.ProductsOrdered)
                                {
                                    <tr>
                                        <td>
                                            <a asp-area="" asp-controller="Products"
                                               asp-action="Details" asp-route-id="@product.ProductId">@product.Name</a>
                                        </td>
                                        <td>@product.Size</td>
                                        <td>@product.Color</td>
                                        <td>
                                            <img src="@product.ImageUrl" width="100" />
                                        </td>
                                        <td>@product.Price лв.</td>
                                        <td>x@(product.Quantity)</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td>@order.OrderTotal лв.</td>
                        <td>@order.Address</td>
                        <td width="7%">
                            <span class="badge badge-@order.BadgeStatusCss">@order.OrderStatus</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>