<nav class="main-navbar">
    <div class="container">
        <ul class="main-menu">
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Products" asp-action="Index">Продукти - Админ</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Colors" asp-action="Index">Цветове - Админ</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Categories" asp-action="Index">Категории - Админ</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="Orders" asp-action="Index">Направени Поръчки</a>
            </li>
            <li>
                <a asp-area="@AreaConstants.Administration"
                   asp-controller="PromoCodes" asp-action="Index">Промо Кодове</a>
            </li>
        </ul>
    </div>
</nav>