@using Merchain.Common
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P72KF7P');</script>
    <!-- End Google Tag Manager -->
    <title>@this.ViewData[ViewDataConstants.Title]</title>
    <meta charset="UTF-8">
    <meta name="description" content="@this.ViewData[ViewDataConstants.Description]">
    <meta name="keywords" content="@this.ViewData[ViewDataConstants.Keywords]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" asp-append-version="true" />
    <link href="~/css/font-awesome.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link href="~/css/main.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <link href="~/img/icons/favicon.png" rel="shortcut icon" />
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P72KF7P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header-section" id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 p-1 text-center text-lg-left mobile-none">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="site-logo">
                            <img src="~/img/coding-life-logo-white.png" alt="" width="147" height="52">
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-4">
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="user-panel">
                            <partial name="_LoginPartial" />

                            @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <div class="up-item ml-2">
                                    <div class="shopping-card">
                                        <i class="flaticon-bag text-white"></i>
                                        <span>0</span>
                                    </div>
                                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Index">Количка</a>
                                </div>
                                <div class="up-item ml-2">
                                    <div class="pointer">
                                        <i class="flaticon-heart text-white"></i>
                                        <a asp-area="" asp-controller="Products" asp-action="WishList">Харесани</a>
                                    </div>
                                </div>
                            }
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <div class="up-item">
                                    <form asp-area="Identity" asp-page="/Account/Logout"
                                          asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                        <button type="submit" class="nav-link btn">Излез</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <partial name="_AdminNavbar" />
        }
        else
        {
            <partial name="_Navbar" />
        }
    </header>
    <main class="main-content">
        <partial name="_CookieConsentPartial" />

        <partial name="/Views/Shared/Partials/_SuccessPopup.cshtml"
                 model="this.ViewData[ViewDataConstants.SucccessMessage]" />
        <partial name="/Views/Shared/Partials/_ErrorPopup.cshtml"
                 model="this.ViewData[ViewDataConstants.ErrorMessage]" />

        @this.RenderBody()

        <div id="addedToWishList" class="modal-window">
            <div class="text-center">
                <h1>Ти хареса този продукт!</h1>
                <div>Може да разгледаш всички в секцията "Харесани".</div>
            </div>
        </div>
        <div id="addedToCart" class="modal-window">
            <div class="text-center">
                <h1>Продуктът е добавен във Вашата количка!</h1>
            </div>
        </div>
        <button onclick="topFunction()" class="topBtn" title="Go to top">
            <i class="flaticon-up-arrow"></i>
        </button>
    </main>
    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <partial name="_ScriptsPartial" />

    @RenderSection("Scripts", required: false)

</body>
</html>