@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Merchain.Common
<!DOCTYPE html>
<html>
<head>
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <meta charset="UTF-8">
    <meta name="description" content="Coding Life">
    <meta name="keywords" content="coding, eCommerce, t-shirts, hoodies">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @RenderSection("Styles", required: false)

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="~/img/favicon.ico" rel="shortcut icon" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header-section" id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left mobile-none">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="site-logo">
                            <img src="~/img/coding-life-logo.png" alt="" height="52">
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-4">
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="user-panel">
                            <partial name="_LoginPartial" />

                            <div class="up-item ml-2">
                                <div class="shopping-card">
                                    <i class="flaticon-bag"></i>
                                    <span>0</span>
                                </div>
                                <a asp-area="" asp-controller="ShoppingCart" asp-action="Index">Количка</a>
                            </div>
                            <div class="up-item ml-2">
                                <div class="pointer">
                                    <i class="flaticon-heart"></i>
                                    <a asp-area="" asp-controller="Products" asp-action="WishList">Харесани</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <partial name="_AdminNavbar" />
        }
        else
        {
            <partial name="_Navbar" />
        }
    </header>
    <main class="main-content">
        <partial name="_CookieConsentPartial" />

        <partial name="/Views/Shared/Partials/_SuccessPopup.cshtml"
                 model="this.ViewData[ViewDataConstants.SucccessMessage]" />
        <partial name="/Views/Shared/Partials/_ErrorPopup.cshtml"
                 model="this.ViewData[ViewDataConstants.ErrorMessage]" />

        @this.RenderBody()

        <div id="addedToWishList" class="modal-window">
            <div class="text-center">
                <h1>Ти хареса този продукт!</h1>
                <div>Може да разгледаш всички в секцията "Харесани".</div>
            </div>
        </div>
        <div id="addedToCart" class="modal-window">
            <div class="text-center">
                <h1>Продуктът е добавен във Вашата количка!</h1>
            </div>
        </div>
        <button onclick="topFunction()" class="topBtn" title="Go to top">Top</button>
    </main>
    <partial name="_Footer" />

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    </environment>

    <partial name="_ScriptsPartial" />

    @RenderSection("Scripts", required: false)

</body>
</html>