@model DetailsPageViewModel
@{
    this.ViewData["Title"] = Model.Product.Name;
}

<div class="page-top-info">
    <div class="container">
        <h4>Детайли</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a asp-controller="Products" asp-action="Index">Продукти</a> /
            <a>Детайли</a>
        </div>
    </div>
</div>

<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a asp-controller="Products" asp-action="Index"> &lt;&lt; Обратно към Продукти</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="@Model.ImageUrls?.FirstOrDefault()" alt="@Model.Product.Name">
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                    <div class="product-thumbs-track">
                        @foreach (var image in Model.ImageUrls)
                        {
                            <div class="pt" data-imgbigurl="@image">
                                <img src="@image" width="116" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">@Model.Product.Name</h2>
                <h3 class="p-price">@Model.Product.Price лв.</h3>
                <h4 class="p-stock">Налично: <span>Да</span></h4>
                <h4 class="p-stock">ID: @Model.Product.Id</h4>
                <div class="p-rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <i class="fa @(Model.AvgStars < i ? "fa-star-o" : "fa-star")"></i>
                    }
                </div>
                <div class="p-review">
                    <a asp-controller="Reviews" asp-action="ProductReviews"
                       asp-route-productId="@Model.Product.Id">
                        @Model.ReviewsCount @(Model.ReviewsCount == 1 ? "оценка" : "оценки")
                    </a>
                    |
                    <a asp-controller="Reviews" asp-action="AddReview"
                       asp-route-id="@Model.Product.Id">Добави Оценка</a>
                </div>
                @if (Model.Colors != null && Model.Colors.Any())
                {
                    <div class="choose-color">
                        <p>Избери цвят: </p>
                    </div>
                    <div id="colors" class="colors">
                        @foreach (var color in Model.Colors)
                        {
                            <div id="@color.Id" class="box">@color.Name</div>
                        }
                        <p class="color-error" style="color: red"></p>
                    </div>
                }
                @if (Model.Product.HasSize)
                {
                    <div class="fw-size-choose">
                        <p>Размер</p>
                        <div class="sc-item">
                            <input type="radio" name="Size" id="S">
                            <label for="S">S</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" name="Size" id="M">
                            <label for="M">M</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" name="Size" id="L">
                            <label for="L">L</label>
                        </div>
                        <div class="sc-item disable">
                            <input type="radio" name="Size" disabled id="XL">
                            <label for="XL">XL</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" name="Size" id="XXL">
                            <label for="XXL">XXL</label>
                        </div>
                    </div>
                    <p class="size-error" style="color: red"></p>
                }
                <div class="quantity">
                    <p>Количество</p>
                    <div class="pro-qty">
                        <span class="dec qtybtn">-</span>
                        <input type="text" name="quantity" value="1">
                        <span class="inc qtybtn">+</span>
                    </div>
                </div>
                <a id="@Model.Product.Id" class="add-card pointer site-btn">Добави в Количката</a>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1"
                                    aria-expanded="true" aria-controls="collapse1">
                                допълнителна информация
                            </button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <p>@Model.Product.Description</p>
                            </div>
                        </div>
                    </div>
                    @if (Model.Product.HasSize)
                    {
                        <div class="panel">
                            <div class="panel-header" id="headingTwo">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                        aria-controls="collapse2">
                                    Размери
                                </button>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="panel-body">
                                    <div class="container">
                                        <table class="table table-striped table-bordered table-responsive-sm">
                                            <thead class="table-head">
                                                <tr>
                                                    <th></th>
                                                    <th>S</th>
                                                    <th>M</th>
                                                    <th>L</th>
                                                    <th>XL</th>
                                                    <th>2XL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Ширина (см.)</td>
                                                    <td>46</td>
                                                    <td>48.5</td>
                                                    <td>53.5</td>
                                                    <td>59</td>
                                                    <td>64</td>
                                                </tr>
                                                <tr>
                                                    <td>Дължина (см.)</td>
                                                    <td>68</td>
                                                    <td>70.5</td>
                                                    <td>73</td>
                                                    <td>75.5</td>
                                                    <td>78</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="panel">
                        <div class="panel-header" id="headingThree">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                Доставка и плащане
                            </button>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="panel-body">
                                <p>Доставката се извършва с Еконт в рамките на <span>1-2</span> работни дни.</p>
                                <p>Плащането се извършва чрез наложен платеж в Еконт при получаване на пратката.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery.zoom.min.js"></script>
    <script>$('.product-pic-zoom').zoom();</script>
}