@model DetailsPageViewModel

@{
    this.ViewData["Title"] = "Details";
}

<div class="page-top-info">
    <div class="container">
        <h4>Детайли</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a asp-controller="Products" asp-action="Index">Продукти</a> /
            <a>Детайли</a> /
        </div>
    </div>
</div>

<section class="product-section">
    <div class="container">
        <div class="back-link">
            <a asp-controller="Products" asp-action="Index"> &lt;&lt; Обратно към Продукти</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="@Model.ImageUrls?.FirstOrDefault()" alt="@Model.Product.Name">
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                    <div class="product-thumbs-track">
                        @foreach (var image in Model.ImageUrls)
                        {
                            <div class="pt" data-imgbigurl="@image">
                                <img src="@image" width="116" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">@Model.Product.Name</h2>
                <h3 class="p-price">@Model.Product.Price лв.</h3>
                <h4 class="p-stock">Налично: <span>Да</span></h4>
                <h4 class="p-stock">ID: @Model.Product.Id</h4>
                <div class="p-rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <i class="fa fa-star-o @(Model.AvgStars < i ? "fa-fade" : "")"></i>
                    }
                </div>
                <div class="p-review">
                    <a asp-controller="Reviews" asp-action="ProductReviews"
                       asp-route-productId="@Model.Product.Id">@Model.ReviewsCount ревюта</a>
                    |
                    <a asp-controller="Reviews" asp-action="AddReview"
                       asp-route-id="@Model.Product.Id">Добави Ревю</a>
                </div>
                <div class="quantity">
                    <p>Количество</p>
                    <div class="pro-qty"><input type="text" name="quantity" value="1"></div>
                </div>
                <a id="@Model.Product.Id" class="add-card pointer site-btn">Добави в Количката</a>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1"
                                    aria-expanded="true" aria-controls="collapse1">
                                допълнителна информация
                            </button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <p>@Model.Product.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingTwo">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                                    aria-controls="collapse2">
                                плащане
                            </button>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="panel-body">
                                <img src="~/img/cards.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header" id="headingThree">
                            <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Доставка</button>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="panel-body">
                                <h4>7 Days Returns</h4>
                                <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-sharing">
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Свързани Продукти</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.RelatedProducts)
            {
                <partial name="/Views/Products/Partials/_Product.cshtml" model="product" />
            }
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
}