@model ProductsIndexViewModel

@{
    this.ViewData["Title"] = "Products";
    var currPage = Model.CurrentPage;
}

<div class="page-top-info">
    <div class="container">
        <h4>Products Page</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Home</a> /
            <a>Products</a> /
        </div>
    </div>
</div>

<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu">
                        @foreach (var category in Model.Categories)
                        {
                            <li>
                                <a class="@(category.Id == Model.CurrentCategoryId ? "is-active" : "")"
                                   asp-controller="Products" asp-action="Index" asp-route-categoryId="@category.Id">
                                    @category.Title
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row" id="listed-products">
                    <partial name="/Views/Products/Partials/_ProductsIndex.cshtml" model="Model.Products" />
                </div>
                @if (Model.MaxPage > 0)
                {
                    <div class="pagination-wrapper">
                        <div class="pagination">
                            @if (currPage > 1)
                            {
                                <a class="prev page-numbers"
                                   asp-controller="Products" asp-action="Index"
                                   asp-route-page="@(currPage - 1)"
                                   asp-route-categoryId="@Model.CurrentCategoryId">Previous</a>
                            }
                            else
                            {
                                <span aria-current="page" class="prev page-numbers">Previous</span>
                            }
                            @for (int i = 1; i <= Model.MaxPage; i++)
                            {
                                if (currPage == i)
                                {
                                    <span aria-current="page" class="page-numbers current">@i</span>
                                }
                                else
                                {
                                    <a class="page-numbers"
                                       asp-controller="Products" asp-action="Index"
                                       asp-route-page="@i"
                                       asp-route-categoryId="@Model.CurrentCategoryId">@i</a>
                                }
                            }
                            @if (currPage < Model.MaxPage)
                            {
                                <a class="next page-numbers"
                                   asp-controller="Products" asp-action="Index"
                                   asp-route-page="@(currPage + 1)"
                                   asp-route-categoryId="@Model.CurrentCategoryId">Next</a>
                            }
                            else
                            {
                                <span aria-current="page" class="next page-numbers">Next</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/products.js"></script>
}