@model List<LikedProduct>

@{
    this.ViewData["Title"] = "Wish List";
}

<div class="page-top-info">
    <div class="container">
        <h4>Wish List</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Home</a> /
            <a>Wish List</a> /
        </div>
    </div>
</div>

<section class="category-section spad">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                @foreach (var likedProduct in Model)
                {
                    var product = likedProduct.Product;

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="@product.ImageUrl" alt="@product.Name">
                                <div class="pi-links">
                                    <a id="@product.Id" class="add-card pointer">
                                        <i class="flaticon-bag"></i>
                                        <span>ADD TO CART</span>
                                    </a>
                                    <a class="pointer add-wishlist wishlist-btn" id="@product.Id">
                                        <i class="flaticon-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>$@product.Price</h6>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                    <p>@product.Name</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>Your wish list is empty</div>
            }
        </div>
    </div>
</section>