@model List<LikedProduct>
@{
    this.ViewData["Title"] = "Харесани Продукти";
}

<div class="page-top-info">
    <div class="container">
        <h4>Харесани Продукти</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Харесани Продукти</a> /
        </div>
    </div>
</div>

<section class="category-section spad">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var likedProduct in Model)
                {
                    var product = likedProduct.Product;

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                <div class="pi-pic">
                                    <img src="@product.ImagesUrls.Split(';')[0]" alt="@product.Name">
                                    <div class="pi-links">
                                        <div class="pointer remove-wishlist" id="@product.Id">
                                            <i style="color: red" class="flaticon-cancel"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="pi-text">
                                <h6>@product.Price лв.</h6>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                    <p>@product.Name</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>Нямате харесани продукти към момента.</div>
            }
        </div>
    </div>
</section>