@model ProductDefaultViewModel

<div class="product-item">
    <div class="pi-pic">
        <img src="@Model.ImageUrl" alt="@Model.Name">
        <div class="pi-links">
            <a asp-controller="ShoppingCart" asp-action="AddProduct" asp-route-id="@Model.Id" class="add-card">
                <i class="flaticon-bag"></i>
                <span>ADD TO CART</span>
            </a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <div class="pi-text">
        <h6>$@Model.Price</h6>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">
            <p>@Model.Name</p>
        </a>
    </div>
</div>