@model Product

@{
    ViewData["Title"] = "Изтрий Продукта";
}

<div class="container mb-3 mt-3">
    <h1>Изтрий</h1>

    <h3>Наистина ли искате да изтриете този продукт?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImagesUrls)
            </dt>
            <dd class="col-sm-10">
                @foreach (var image in Model.ImagesUrls.Split(';'))
                {
                    <img src="@image" width="150"/>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price) лв.
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn btn-danger" /> |
            <a asp-action="Index">Върни се обратно</a>
        </form>
    </div>
</div>