@using Merchain.Common.Order;

@model OrderInfoViewModel
@{
    this.ViewData["Title"] = "Детайли За Поръчката";
}

<div class="page-top-info">
    <div class="container">
        <h4>Order Details</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Детайли За Поръчката</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-3">
        <h4>Поръчка #@Model.OrderId</h4>
        <hr />
        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.UserId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderTotal)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderStatus)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayFor(model => model.UserId)</th>
                    <td>@Model.OrderDate.ToLocalTime()</td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                    <td>@Html.DisplayFor(model => model.OrderTotal) лв.</td>
                    <td><span class="badge badge-@Model.BadgeStatusCss">@Model.OrderStatus</span></td>
                </tr>
            </tbody>
        </table>
        <h4>Поръчани Продукти</h4>
        <hr />
        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <th scope="col">Продукт ID</th>
                    <th scope="col">Име</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductsOrdered)
                {
                    <tr>
                        <td>
                            #@product.ProductId
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                                @product.Name
                            </a>
                        </td>
                        <td>
                            @product.Price лв.
                        </td>
                        <td>
                            @product.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="row">
            <div class="col-md-5 pb-2">
                <form method="post" class="mark-order"
                      asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="MarkOrderAs">
                    <div class="ml-3 p-3">
                        <h3 class="pb-2">Маркирай Поръчката Като:</h3>
                        <input type="hidden" name="id" value="@Model.OrderId" />
                        <div class="form-group">
                            <input type="radio" name="markedAs" id="shipped" value="@OrderStatus.Shipped" />
                            <label for="shipped">
                                <span class="badge badge-success">@OrderStatus.Shipped</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="markedAs" id="accepted" value="@OrderStatus.Accepted" />
                            <label for="accepted">
                                <span class="badge badge-primary">@OrderStatus.Accepted</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="markedAs" id="pending" value="@OrderStatus.Pending" />
                            <label for="pending">
                                <span class="badge badge-warning">@OrderStatus.Pending</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Запази</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="pt-2">
        <a asp-action="Index">Върни се обратно</a>
    </div>
</div>
