@using Merchain.Common.Order;

@model OrderInfoViewModel
@{
    this.ViewData["Title"] = "Order Details";
}

<div class="page-top-info">
    <div class="container">
        <h4>Order Details</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Home</a> /
            <a>Order Details</a>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h4>Order #@Model.OrderId</h4>
        <hr />
        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.UserId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderTotal)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.OrderStatus)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayFor(model => model.UserId)</th>
                    <td>@Model.OrderDate.ToLocalTime()</td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                    <td>@Html.DisplayFor(model => model.OrderTotal)</td>
                    <td><span class="badge badge-@Model.BadgeStatusCss">@Model.OrderStatus</span></td>
                </tr>
            </tbody>
        </table>
        <h4>Products Ordered</h4>
        <table class="table table-striped">
            <thead class="table-head">
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductsOrdered)
                {
                    <tr>
                        <td>
                            #@product.ProductId
                        </td>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Price
                        </td>
                        <td>
                            @product.Quantity
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-md-4">
                <form asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="MarkOrderAs" method="post">
                    <h3>Mark order as:</h3>
                    <input type="hidden" name="id" value="@Model.OrderId" />
                    <div class="form-group">
                        <input type="radio" name="markedAs" id="shipped" value="@OrderStatus.Shipped" />
                        <label for="shipped">
                            <span class="badge badge-success">@OrderStatus.Shipped</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="markedAs" id="accepted" value="@OrderStatus.Accepted" />
                        <label for="accepted">
                            <span class="badge badge-primary">@OrderStatus.Accepted</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="markedAs" id="pending" value="@OrderStatus.Pending" />
                        <label for="pending">
                            <span class="badge badge-warning">@OrderStatus.Pending</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
