@model AllOrdersViewModel
@{
    this.ViewData["Title"] = "Всички Поръчки";
    var currPage = ViewBag.CurrPage;
}

<div class="page-top-info">
    <div class="container">
        <h4>Всички Поръчки</h4>
        <div class="site-pagination">
            <a asp-controller="Home" asp-action="Index">Начало</a> /
            <a>Всички Поръчки</a>
        </div>
    </div>
</div>

<div class="container mt-3">
    <figure class="highcharts-figure mb-3">
        <div id="chartContainer"></div>
    </figure>

    <table class="table table-striped">
        <thead class="table-head">
            <tr>
                <th width="14%">Дата На Поръчване</th>
                <th>ID на поръчка</th>
                <th>Поръчани Продукти</th>
                <th>Обща Сума</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderDate.ToLocalTime()</td>
                    <td>
                        @order.OrderId
                    </td>
                    <td>
                        <table class="table table-nostriped">
                            <thead class="table-head">
                                <tr>
                                    <th>ID</th>
                                    <th>Име</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                </tr>
                            </thead>
                            @foreach (var product in order.ProductsOrdered)
                            {
                                <tr>
                                    <td>
                                        <a asp-area="@AreaConstants.Administration" asp-controller="Products"
                                           asp-action="Details" asp-route-id="@product.ProductId">
                                            #@product.ProductId
                                        </a>
                                    </td>
                                    <td>@product.Name</td>
                                    <td>@product.Price лв.</td>
                                    <td>x @product.Quantity</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td>$@order.OrderTotal</td>
                    <td>
                        <span class="badge badge-@order.BadgeStatusCss">@order.OrderStatus</span>
                    </td>
                    <td>
                        <a asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="Details" asp-route-id="@order.OrderId">
                            Прегледай Поръчката
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-wrapper">
        <div class="pagination">
            @if (currPage > 1)
            {
                <a class="prev page-numbers"
                   asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="Index"
                   asp-route-page="@(currPage - 1)">Назад</a>
            }
            else
            {
                <span aria-current="page" class="prev page-numbers">Назад</span>
            }
            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                if (currPage == i)
                {
                    <span aria-current="page" class="page-numbers current">@i</span>
                }
                else
                {
                    <a class="page-numbers"
                       asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="Index"
                       asp-route-page="@i">@i</a>
                }
            }
            @if (currPage < ViewBag.MaxPage)
            {
                <a class="next page-numbers"
                   asp-area="@AreaConstants.Administration" asp-controller="Orders" asp-action="Index"
                   asp-route-page="@(currPage + 1)">Следваща</a>
            }
            else
            {
                <span aria-current="page" class="next page-numbers">Следваща</span>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        Highcharts.chart('chartContainer', {

            title: {
                text: 'Всички поръчки през последната седмица'
            },

            yAxis: {
                title: {
                    text: 'Брой Поръчки'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Обхват: 1 до 7'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 1
                }
            },

            series: [{
                name: 'Поръчки',
                data: [
                    @foreach (var orderCount in Model.OrdersCountInLast7Days)
                    {
                        @orderCount@:,
                    }
                ]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>
}