@using Merchain.Web.ViewModels.Shared

@model IndexViewModel
@{
    this.ViewData["Title"] = "Начало";
}

<div class="container mt-4 category-section" style="max-width:1250px">
    <div class="section-title">
        <h2>КАТЕГОРИИ</h2>
    </div>
    <div id="home-categories">
        @foreach (CategoryViewModel category in Model.Categories)
        {
            <article class="padding-2" id="category">
                <div class="image">
                    <img src="@category.BannerImage"
                         data-loaded="true">
                    <a class="link--inherit padding-4"
                       asp-area="" asp-controller="Products" asp-action="Index" asp-route-categoryId="@category.Id">
                        <h2>@category.Title</h2>
                    </a>
                </div>
            </article>
        }
    </div>
</div>
<section class="top-letest-product-section mt-5">
    <div class="container">
        <div class="section-title">
            <h2>ПОСЛЕДНИ ПРОДУКТИ</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.LatestProducts)
            {
                <partial name="/Views/Products/Partials/_Product.cshtml" model="product" />
            }
        </div>
    </div>
</section>

<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>НАЙ-ПРОДАВАНИ ПРОДУКТИ</h2>
        </div>
        <ul class="product-filter-menu">
            @foreach (var category in Model.Categories)
            {
                <li><a href="javascript:;" id="@category.Id" class="list-products">@category.Title.ToUpper()</a></li>
            }
        </ul>
        <div class="row" id="listed-products">
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/home.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/categories.css" />
}