@model Merchain.Data.Models.Color

@{
    ViewData["Title"] = "Детайли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h1>Детайли</h1>

    <div>
        <h4 class="mt-2">Цвят</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Value)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Промени</a> |
        <a asp-action="Index">Върни се назад</a>
    </div>
</div>